<div class="section-cta">
    <div class="cta-banner">
        <div class="banner-line"></div>
        <div class="banner-grid">
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
            <div class="grid-item">+++</div>
            <div class="grid-item">Let’s talk</div>
        </div>
        <div class="banner-line"></div>
    </div>
    <div class="cta-content">
        <div class="project-info">
            <div class="project-title">Project in mind?</div>
            <div class="project-subtitle">
                <p class="subtitle-text">Let’s make your</p>
                <p class="subtitle-highlight"><i>Website shine</i></p>
            </div>
            <div class="project-description">
                Premium web design, webflow, and SEO services to help your business stand out.
            </div>
        </div>
        <div class="cta-button">
            <div class="button-text">Get in touch</div>
            <img class="button-icon" alt="" src="img/ph-arrow-up-right-light.svg">
        </div>
    </div>
</div>