<div class="section-footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-column logo-column">
                <div class="logo">
                    <img class="company-logo" alt="" src="img/logo.png">
                </div>
                <div class="social-links">
                    <div class="social-item">
                        <img class="social-icon" alt="" src="img/ph-instagram-logo-light.svg">
                        <div class="social-name">Instagram</div>
                    </div>
                    <div class="social-item">
                        <img class="social-icon" alt="" src="img/ph-twitter-logo-light.svg">
                        <div class="social-name">Twitter</div>
                    </div>
                    <div class="social-item">
                        <img class="social-icon" alt="" src="img/ph-dribbble-logo-light.svg">
                        <div class="social-name">Dribbble</div>
                    </div>
                    <div class="social-item">
                        <img class="social-icon" alt="" src="img/ph-behance-logo-light.svg">
                        <div class="social-name">Behance</div>
                    </div>
                </div>
            </div>
            <div class="footer-column pages-column">
                <div class="section-title">Pages</div>
                <div class="nav-links">
                    <div class="nav-item">Home</div>
                    <div class="nav-item">Services</div>
                    <div class="nav-item">About</div>
                    <div class="nav-item">Contact</div>
                </div>
            </div>
            <div class="footer-column cms-column">
                <div class="section-title">CMS</div>
                <div class="nav-links">
                    <div class="nav-item">Work</div>
                    <div class="nav-item">Work Single</div>
                    <div class="nav-item">Blog</div>
                    <div class="nav-item">Blog Post</div>
                </div>
            </div>
            <div class="footer-column utility-column">
                <div class="section-title">Utility Pages</div>
                <div class="nav-links">
                    <div class="nav-item">404 Error Page</div>
                    <div class="nav-item">Password Protected</div>
                    <div class="nav-item">Styleguide</div>
                    <div class="nav-item">Licensing</div>
                    <div class="nav-item">Changelog</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="credits">© <span id="year"></span> Made by Era Whiz Team.</div>
            <div class="back-to-top">
                <div class="back-to-top-text">To Top</div>
                <div class="back-to-top-icon">
                    <img class="arrow-up-icon" alt="" src="img/ph-arrow-up-light.svg">
                </div>
            </div>
        </div>
    </div>

</div>